{% extends 'backend.html.twig' %}
{% block backend %}
<h2>Contact Form <small>{{ "now"|date("Y-m-d H:i:s") }}</small></h2><hr></hr>
<table class="table table-sm table-striped table-dark table-hover">
<thead>
<tr>
<th>Full Name</th><th>Email</th><th>Body</th><th>Date</th><th>Actions</th>
</tr>
</thead>
{% for m in messages %}
<tr><td>{{ m.fullname }}</td><td>{{ m.email }}</td><td>{{ m.body }}</td><td>{{ m.cdate|date("Y-m-d H:i:s") }}</td><td><a href="">Remove</a></td></tr>
{% endfor %}
</table>
{% endblock %}

