{% extends 'backend.html.twig' %}
{% block backend %}
<h2>{{ title }}</h2>
<hr>
{{ form_start(form, { 'attr': {'class': 'form'} }) }}
    {{ form_errors(form) }}
 <div class="form-group">
	{{ form_errors(form.title) }}    
    {{ form_label(form.title, null, {'label_attr': {'class':'control-label'}}) }}
    <div class="">{{ form_widget(form.title, {'attr': {'class': 'form-control','novalidate': 'novalidate'}}) }}</div>
   </div>
   <div class="form-group">
	{{ form_errors(form.route) }}    
    {{ form_label(form.route, null, {'label_attr': {'class':'control-label'}}) }}
    <div class="">{{ form_widget(form.route, {'attr': {'class': 'form-control','novalidate': 'novalidate'}}) }}</div>
   </div>
   <div class="form-group">
	{{ form_errors(form.image) }}   
    {{ form_label(form.image, null, {'label_attr': {'class':'control-label'}}) }}
    <div class="">{{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}</div>
    {% if preview %}
    <div class="my-3"><img src="{{ preview }}" alt="preview" class="img-thumbnail" /></div>
    {% endif %}
   </div>
   <div class="form-group">
	{{ form_errors(form.description) }}    
    {{ form_label(form.description, null, {'label_attr': {'class':'control-label'}}) }}
    <div class="">{{ form_widget(form.description, {'attr': {'class': 'tinymce form-control'}}) }}</div>
   </div>
   <div class="form-group">
	{{ form_errors(form.meta) }}    
    {{ form_label(form.meta, null, {'label_attr': {'class':'control-label'}}) }}
    <div class="">{{ form_widget(form.meta, {'attr': {'class': 'form-control'}}) }}</div>
   </div>
   
    {# form_row(form.tname, {'label': 'Type Name'}) #}
	{{ form_rest(form) }}
	<div class="clearfix"><div class="pull-right">
	<button class="btn btn-danger" type="button" onclick="javascript:history.back()"><i class="fa-arrow-left fa fa-lg" aria-hidden="true"></i> Cancel & Go Back</button> 
	<button class="btn btn-primary"><i class="fa-floppy-o fa fa-lg" aria-hidden="true"></i> Save</button> 
	</div></div>
{{ form_end(form) }}
{% endblock %}
