{% extends "base.html.twig" %}
{% block meta %}
{% endblock %}
{% block description %}
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}
{% block body %}
<h3>{{ title }}</h3>
<hr>
{{ form_start(form, { 'attr': {'class': 'form'} }) }}
    {{ form_errors(form) }}
 <div class="form-group">
	{{ form_errors(form.fullname) }}    
    {{ form_label(form.fullname, null, {'label_attr': {'class':'control-label'}}) }}
    <div class="">{{ form_widget(form.fullname, {'attr': {'class': 'form-control','novalidate': 'novalidate'}}) }}</div>
   </div>
   <div class="form-group">
	{{ form_errors(form.email) }}    
    {{ form_label(form.email, null, {'label_attr': {'class':'control-label'}}) }}
    <div class="">{{ form_widget(form.email, {'attr': {'class': 'form-control','novalidate': 'novalidate'}}) }}</div>
   </div>
   <div class="form-group">
	{{ form_errors(form.body) }}    
    {{ form_label(form.body, null, {'label_attr': {'class':'control-label'}}) }}
    <div class="">{{ form_widget(form.body, {'attr': {'class': 'form-control','novalidate': 'novalidate'}}) }}</div>
   </div>
   
    {# form_row(form.tname, {'label': 'Type Name'}) #}
	{{ form_rest(form) }}
	<div class="clearfix"><div class="pull-right">
	<button class="btn btn-primary"><i class="fa-angle-right fa fa-lg" aria-hidden="true"></i> Submit</button> 
	</div></div>
{{ form_end(form) }}

{% endblock %}