{% extends "base.html.twig" %}
{% block content %}
{{ form_start(form, { 'attr': {'class': 'form'} }) }}
    {{ form_errors(form) }}
<div class="row">
<div class="col-sm-6">
    {{ form_errors(form.titulo) }}
    {{form_label(form.titulo)}}
{{form_widget(form.titulo,{ 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.fecha) }}
        {{form_label(form.fecha)}}
    {{form_widget(form.fecha,{ 'attr': {'class': 'form-control'}) }}
    </div>
    <div class="col-sm-6">

    {{ form_errors(form.autores) }}
        {{form_label(form.autores)}}

    {{form_widget(form.autores) }}

</div>
</div>
<button>Guardar</button>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}
{% block customjs %}
{% endblock %}